body {
	padding:0;
	margin:0;
	font:100%/1.5 arial;
	background:#eee;
}
h1, h2 {
	font-weight:normal;
	text-transform:uppercase;
	letter-spacing:0.1em;
}
.nowrap {
    white-space: nowrap;
}
.meme {
	display:inline-block;
	margin:0 10px 10px 0;
	padding:5px;
	border:solid 1px #ddd;
	border-radius:5px;
	box-shadow: 5px 5px 5px #999;
	background:#fff;
}
.meme img {
	cursor:pointer;
	border:solid 1px #ddd;
	width:100%;
	max-width: auto;
}
.meme .memeAnimatedUrl,
.meme .memeTags {
	padding:2px;
}
.meme .txtMemeAnimatedUrl {
	border:none;
	background:none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
	width:80%;
}
.meme .memeAnimatedUrl span,
.meme .memeTags span {
	color:#999;
	width:20%;
}
.meme .memeTags a {
    color: #48b;
}
#headerWrap {
	background:#000;
	margin-bottom:20px;
	color:#fff;
	box-shadow: 10px 0 10px #555;
}
#header {
	max-width:640px;
	margin:0 auto;
	padding:20px;
}
#controls {
	margin-bottom:20px;
}
#container {
	position:relative;
	padding-bottom:100px;
}
#initialText {
	padding:20px;
	margin:20px;
	text-align:center;
	color:#999;
	background:#ccc;
	font-size:2em;
}
#memeLoader {
	text-align:center;
	margin:20px 0;
	display:none;
}
#memes {
	display:none;
	text-align:center;
}
#flashMessage {
	position:fixed;
	top:20px;
	right:20px;
	padding:15px 20px;
	border:solid 1px #fff;
	border-radius:3px;
	background:#000;
	color:#fff;
	display:none;
}
#footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	box-sizing:border-box;
	padding:20px 30px;
	background:#000;
	color:#fff;
	text-align:center;
}
#footer a {
	color:#ccc;
	text-decoration:none;
}